---
import Hero from "../components/hero.astro";
import Navbar from "../components/navbar.astro";
import "../styles/index.css";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Poppins:wght@400;500&family=Roboto:wght@700&display=swap"
			rel="stylesheet"
		/>

		<meta name="generator" content={Astro.generator} />
		<title>Mateus Abelli</title>
	</head>
	<body>
		<Navbar />
		<Hero />
		<section id="about">About section</section>
		<section id="projects">Projects section</section>
		<section id="blog">Blog section</section>
		<section id="sandbox">Sandbox section</section>
		<section id="contact">Contact section</section>
	</body>
</html>
