---
import About from "../components/about.astro";
import Contact from "../components/contact.astro";
import Hero from "../components/hero.astro";
import Navbar from "../components/navbar.astro";
import Projects from "../components/projects.astro";
import "../styles/index.css";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Poppins:wght@400;500&family=Roboto:wght@700&display=swap"
			rel="stylesheet"
		/>

		<meta name="generator" content={Astro.generator} />
		<title>Mateus Abelli</title>
	</head>
	<body>
		<Navbar />
		<main>
			<Hero />
			<About />
			<Projects />
			<Contact />
		</main>
	</body>
</html>
