<section id="contact" class="container">
  <h2 class="heading-text gradient-text">Contact</h2>
  <p class="subheading-text">Lorem, ipsum.</p>
  <p class="body-text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi
    exercitationem fugiat eveniet odio! Consequuntur, vitae. Possimus, debitis.
    Beatae assumenda, sunt minima a, animi aliquam error, rem non nobis dolor
    magnam inventore. Neque nesciunt, nisi explicabo maxime corporis deserunt!
    Quibusdam neque tenetur ut aspernatur reiciendis totam, natus laboriosam!
    Soluta, voluptatibus eius.
  </p>
</section>

<style>
  #contact {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1rem;
    height: 100vh;
  }
</style>