<section id="home" class="hero-background">
  <div class="hero-container container">
    <div class="hero-content">
      <p class="hero-text">👋 Hello</p>
      <h1 class="hero-heading gradient-text">I am<br />Mateus Abelli</h1>
      <p class="hero-subheading">Software Developer</p>
      <p class="body-text">🚧 Website under Development 🚧</p>
    </div>
    <div>
      <div class="hero-picture">
        <img src="pfp.png" alt="" />
        <div class="blur-circle"></div>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  .hero-subheading,
  .hero-heading {
    text-align: center;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  .hero-background {
    display: grid;
    height: 100vh;
    background-color: var(--clr-hero-background);
    background: linear-gradient(
      to top left,
      var(--clr-hero-gradient-top) 50%,
      var(--clr-hero-gradient-bottom) 100%
    );

    > .hero-container {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  }

  .hero-picture {
    position: relative;

    > img {
      position: inherit;
      overflow: hidden;
      border-radius: 100%;
      width: 12.5rem;
      z-index: 1;
      box-shadow: 6px 20px 8px rgba(25, 29, 37, 0.25);
    }

    > .blur-circle {
      position: absolute;
      inset: 40px;
      background-color: var(--clr-hero-picture-blur);
      border-radius: 100%;
      filter: blur(70px);
    }
  }

  @media (min-width: 600px) {
    .hero-subheading,
    .hero-heading {
      text-align: unset;
    }

    .hero-background {
      > .hero-container {
        flex-direction: row;
        justify-content: space-between;
      }
    }

    .hero-picture {
      > img {
        width: 20rem;
      }

      > .blur-circle {
        inset: 60px;
      }
    }
  }
</style>
